{% extends 'base.html' %}

{% block title %}
Detalhe Filomena
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<div class="m-4">
    <div class="container">
        <h2 class="shadow p-3 mb-5 bg-body-tertiary rounded">Detalhe Filomena: {{ filomena.nome }}</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ filomena.imagem_filo.url }}" alt="Imagem" width="600px" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p><strong>Nome:</strong> {{ filomena.nome }}</p>
                <p><strong>Idade:</strong> {{ filomena.idade }}</p>
                <p><strong>Descrição:</strong> {{ filomena.descricao }}</p>
                <p><strong>Email:</strong> {{ filomena.email }}</p>
                <p><strong>Telefone:</strong> {{ filomena.telefone }}</p>
                <hr>
                <a href="#" class="btn btn-success">Editar</a>
                <a href="#" class="btn btn-success">Apagar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
