{% extends 'base2.html' %}
{% load static %}


{% block body %}
    
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 mb-3">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="nome_estadia" class="form-label  text-h1"><strong>Nome da Estadia:</strong></label>
                    <input type="text" class="form-control" id="nome_estadia" name="nome_estadia">
                </div>

                <div class="mb-3">
                    <label for="duracao" class="form-label text-h1"><strong>Duração(em dias): </strong></label>
                    <input type="number" class="form-control" id="duracao" name="duracao">
                </div>

                <div class="mb-3">
                    <label for="descricao_estadia" class="form-label  text-h1"><strong>Descrição da Estadia:</strong></label>
                    <textarea class="form-control" id="descricao_estadia" name="descricao_estadia" rows="4"></textarea>
                </div>

                <div class="mb-3">
                    <label for="localizacao" class="form-label  text-h1"><strong>Localização:</strong></label>
                    <input type="text" class="form-control" id="localizacao" name="localizacao">
                </div>

                <div class="mb-3">
                    <label for="valor" class="form-label  text-h1"><strong>Valor:</strong></label>
                    <input type="number" class="form-control" id="valor" name="valor" step="0.01">
                </div>

                <div class="mb-3">
                    <label for="programacao" class="form-label  text-h1"><strong>Programação:</strong></label>
                    <input type="text" class="form-control" id="programacao" name="programacao">
                </div>

                <div class="mb-3">
                    <label for="imagem" class="form-label  text-h1"><strong>Imagem:</strong></label>
                    <input type="file" class="form-control" id="imagem" name="imagem">
                </div>

                <div class="text-center m-4">
                    <a href="{% url 'filomenas:home' %}" class="btn btn-secondary">Voltar</a>
                    <button type="submit" class="btn  w3-brown">Enviar</button>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>


{% endblock body %}
    